<!-- /* sidebar.html */ -->
<!doctype html>
<html>
  <head>
    <title>AcaNexus</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="dashboard-container">
      <!-- Sidebar -->

      <div class="sidebar" style="pointer-events: none">
        <h2>AcaNexus</h2>

        <ul>
          <li><a href="/profile">👤 Profile</a></li>
          <li><a href="/dashboard">📊 Dashboard</a></li>
          <li><a href="/notes">📝 Notes</a></li>
          <li><a href="/assignments">📅 Assignments</a></li>
          <li><a href="/expenses">💰 Expenses</a></li>
          <li><a href="/calendar">📅 Calendar</a></li>
          <li><a href="/attendance">✅ Attendance</a></li>
          <li><a href="/settings">⚙️ Settings</a></li>
        </ul>
      </div>

      

      <!-- Page Content -->

      <div class="main-content">{% block content %} {% endblock %}</div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/assignments.js') }}"></script>
  </body>
</html>
