{% extends "base.html" %} {% block content %}

<h1>Expenses</h1>

<div class="card">
  <h3>Total Expenses</h3>

  <p>₹{{ total_expense }}</p>
</div>

<div class="analytics-card">
  <h3>Category Breakdown</h3>

  <div class="category-grid">
    {% for category, total in category_totals %}
    <div class="category-card">
      <h4>{{ category }}</h4>
      <p>₹{{ "%.2f"|format(total) }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<h2>Category Breakdown</h2>

{% for category in category_totals %}

<div class="note-card">
  <h3>{{ category[0] }}</h3>

  <p>₹{{ category[1] }}</p>
</div>

{% endfor %}

<br />

<form method="POST">
  <input type="text" name="title" placeholder="Expense Title" required />

  <br /><br />

  <input
    type="number"
    step="0.01"
    name="amount"
    placeholder="Amount"
    required
  />

  <br /><br />

  <select name="category" required>
    <option value="">Select Category</option>

    <option value="Food">Food</option>

    <option value="Books">Books</option>

    <option value="Travel">Travel</option>

    <option value="Utilities">Utilities</option>

    <option value="Entertainment">Entertainment</option>

    <option value="Other">Other</option>
  </select>
  <br /><br />

  <input type="date" name="expense_date" required />

  <br /><br />

  <button type="submit">Add Expense</button>
</form>
<br /><br />
<hr />

<h2>My Expenses</h2>

{% for expense in expenses %}

<div class="note-card">
  <h3>{{ expense[1] }}</h3>

  <p><strong>₹{{ expense[2] }}</strong></p>

  <p>{{ expense[3] }}</p>

  <p>{{ expense[4] }}</p>

  <div class="note-actions">
    <a
      href="/delete_expense/{{ expense[0] }}"
      onclick="return confirm('Delete this expense?');"
    >
      <button>Delete</button>
    </a>
  </div>
</div>

{% endfor %} {% endblock %}
